html {
    font-size: 10px;
    background-image: url(hero.jpg) ;
    background-size: cover;
  }
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: azure;
  }
  h1{
    text-align: center;
    font-size: 10rem;
    margin-bottom: -8rem;
  }
  
.keys {
    display: flex;
    flex: 1;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #64f90d;
    box-shadow: 0 0 1rem #64f90d;
  }
  
  kbd {
    display: block;
    font-size: 3rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #f9141b;
  }
  